body {
  margin: 25px;
  background-color: #bf1363;
  font-family: calibri, sans-serif;
  color: #ffffff;
  font-size: 14px;
  
}

h1 {
  font-size: 35px;
  font-weight: normal;
  margin-top: 5px;
  font-weight: bold;
}

h2 {
  font-size: 20px;
  font-weight: normal;
  margin-top: 5px;
  font-weight: bold;
}

#box {
	font-family: consolas, sans-serif;
    background-color: #d25790;
    width: 300px;
    padding:10px;
	
}

a:link {
	font-family: calibri, sans-serif;
	color: #ffffff;
	font-size: 25px;
}

a:visited {
	font-family: calibri, sans-serif;
	color: #ffffff;
	font-size: 25px;
}

form { 
   border: 1px solid white;
   border-radius: 15px;
   width: 300px;
   height: 35px;
   padding:30px;
}

input[type=submit] {
  background-color: #bf1363;
  color: #ffffff;
  border: 1px solid white;
  border-radius: 15px;
  padding: 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}	

input[type=button] {
  background-color: #bf1363;
  color: #ffffff;
  border: 1px solid white;
  border-radius: 15px;
  padding: 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}	

/* Applies to all elements with <... class="someclass"> specified. */
.someclass { color: red; }

/* Applies to the element with <... id="someid"> specified. */
#someid { color: green; }